.clip-path-background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
}

.clip-path-group {
    position: absolute;
    inset: 0;
}

.clip-path-group-inner {
    position: absolute;
    inset: 0;
}

.clip-path-group-mask {
    position: absolute;
    inset: 0;
}

.clip-path-rectangle {
    position: absolute;
    inset: 0;
    mask-position: 3.556px 5.338px, 0.22px 0.185px;
    mask-size: 1281px 1802px, 1287.672px 1812.304px;
    mask-repeat: no-repeat;
    mask-composite: intersect;
    -webkit-mask-position: 3.556px 5.338px, 0.22px 0.185px;
    -webkit-mask-size: 1281px 1802px, 1287.672px 1812.304px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: source-in;
}

.clip-path-image-wrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
}

.clip-path-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
}

